<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div data-mdb-input-init class="form-outline mb-4">
      <input
        type="text"
        id="title"
        [(ngModel)]="title"
        name="title"
        class="form-control"
      />
      <label class="form-label" for="form5Example1">Movie Name</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
      <input
        type="text"
        name="desc"
        [(ngModel)]="desc"
        id="desc"
        class="form-control"
      />
      <label class="form-label" for="form5Example2">Lead Actor</label>
    </div>

    <button
      data-mdb-ripple-init
      type="submit"
      class="btn btn-primary btn-block mb-4"
      style="font-family: Poppins, sans-serif"
    >
      Add Item
    </button>
  </form>
</div>
